<!DOCTYPE HTML>
<html layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
<div th:replace="fragments/common :: navigationBar"></div>
<div layout:fragment="content">
    <div class="heading">
        <h1>Note List
        <a class="navbar-brand" sec:authorize="hasAnyAuthority('ADMIN', 'FULLUSER')">
            <a th:href="@{/note/add}" class="btn btn-success">Add</a><a th:href="@{/note/mine}" class="btn btn-primary">My notes</a>
        </a>
        </h1>
    </div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Notes
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" th:href="@{/note(titleSort='ascending')}">Ascending</a></li>
                        <li><a class="dropdown-item" th:href="@{/note(titleSort='descending')}">Descending</a></li>
                    </ul>
                </div>
            </th>
            <th>Content</th>
            <th>Created at
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" th:href="@{/note(dateSort='ascending')}">From the oldest</a></li>
                        <li><a class="dropdown-item" th:href="@{/note(dateSort='descending')}">From the newest</a></li>
                    </ul>
                </div></th>
            <th>Category
                <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" th:href="@{/note(categorySort='ascending')}">From most to least popular</a></li>
                    <li><a class="dropdown-item" th:href="@{/note(categorySort='descending')}">From least to most popular</a></li>
                </ul>
            </div>
            </th>
            <th></th>
        </tr>
        <tr th:each="note : ${noteList}">
            <td th:text="${note.getId()}"></td>
            <td th:text="${note.getOwner().getName()}"></td>
            <td th:text="${note.getTitle()}"></td>
            <td th:text="${note.getContent()}"></td>
            <td th:text="${note.getCreatedAt().getDayOfMonth()}+'.'+${note.getCreatedAt().getMonthValue()}+'.'+${note.getCreatedAt().getYear()}+' '+${note.getCreatedAt().getHour()}+':'+${note.getCreatedAt().getMinute()}"></td>
            <td th:text="${note.getCategory()?.getName()}"></td>
            <td>
                <a class="nav-item" th:if="${#authentication.getPrincipal().getUsername()} == ${note.getOwner().getUsername()}">
                    <a th:href="@{/note/{id}(id=${note.getId()})}" class="btn btn-primary m-1">Details</a>
                    <a th:href="@{/note/edit/{id}(id=${note.getId()})}" class="btn btn-secondary m-1">Edit</a>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>