<html xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="navigationBar" class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <a class="navbar-brand" th:href="@{/note}">Note</a>
            <a class="navbar-brand" th:href="@{/category}">Category</a>
            <a class="navbar-brand" th:href="@{/users}">Users</a>
            <a class="navbar-brand" th:href="@{/login}">Log in</a>
        </div>
    </nav>

</html>