<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link href="../static/css/boostrap/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/login.css}"/>

</head>
<body>
    <div class="login-container">

        <div class="login-left-side" th:style="'background: url(images/loginBackground.jpg) no-repeat center center fixed;'">
            <div class="login-header">
                <h1>DODAWAJ NOTATKI <br> I DZIEL SIĘ Z INNYMI</h1>
                <p>Współtwórz najlepszą społeczność dodając swoje notatki oraz dzieląc się nimi z najbliższymi!</p>
                <button class="btn-more">WIĘCEJ</button>
            </div>
        </div>

        <div class="login-right-side">

            <form class="login-form" th:action="@{/login}" method="post">
                <h2>Logowanie</h2>
                <label for="username">Nazwa Użytkownika:</label>
                <input type="text" id="username" name="username" placeholder="Podaj nazwę...">
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" placeholder="Podaj hasło...">
                <span class=".text-danger" th:if="${param.error}">Nie poprawne dane logowania</span>
                <label for="remember-me">Remember me ?</label>
                <input type="checkbox" id="remember-me" name="remember-me"/>
                <button class="btn-login">Zaloguj się</button>
                <div  class="login-register">
                    <p>Nie masz jeszcze konta? <span> <a th:href="@{/registration}">Zarejestruj się</a></span> </p>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

  </body>
</html>